In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
PATH = '/opt/ml/input/data/train/train.csv'

train_csv = pd.read_csv(PATH)

In [3]:
def makeLabeling(pd,idx,name):
    if name == 'mask':
        if pd['gender'][idx] == 'male':
            if pd['age'][idx] < 30: return 0
            elif 30 <= pd['age'][idx] < 60: return 1
            else: return 2
        else:
            if pd['age'][idx] < 30: return 3
            elif 30 <= pd['age'][idx] < 60: return 4
            else: return 5
    elif name == 'incorrect':
        if pd['gender'][idx] == 'male':
            if pd['age'][idx] < 30: return 6
            elif 30 <= pd['age'][idx] < 60: return 7
            else: return 8
        else:
            if pd['age'][idx] < 30: return 9
            elif 30 <= pd['age'][idx] < 60: return 10
            else: return 11
    else:
        if pd['gender'][idx] == 'male':
            if pd['age'][idx] < 30: return 12
            elif 30 <= pd['age'][idx] < 60: return 13
            else: return 14
        else:
            if pd['age'][idx] < 30: return 15
            elif 30 <= pd['age'][idx] < 60: return 16
            else: return 17

In [4]:
train_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2700 entries, 0 to 2699
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2700 non-null   object
 1   gender  2700 non-null   object
 2   race    2700 non-null   object
 3   age     2700 non-null   int64
 4   path    2700 non-null   object
dtypes: int64(1), object(4)
memory usage: 105.6+ KB

In [12]:
file_dict = {k:[] for k in ['id','path','file_name','absolute_path','label']}

In [13]:
IMAGE_PATH = '/opt/ml/input/data/train/images'

for i in range(len(train_csv)):
    total_path = os.path.join(IMAGE_PATH,str(train_csv['path'][i]))
    for file_name in os.listdir(total_path):
        # 확장자 제거, 이름만 가져오기
        fn_split = file_name.split(".")
        if len(fn_split[0]) == 0: 
            continue
        name = re.findall("[a-z]+",fn_split[0])[0]
        
        # labeling
        label = makeLabeling(train_csv,i,name)
        file_dict['id'].append(train_csv['id'][i])
        file_dict['file_name'].append(file_name)
        file_dict['path'].append(train_csv['path'][i])
        file_dict['absolute_path'].append(os.path.join(total_path,file_name))
        file_dict['label'].append(label)

In [14]:
for k in file_dict:
    print(f"{k}: {len(file_dict[k])}")

id: 18900
path: 18900
file_name: 18900
absolute_path: 18900
label: 18900

In [15]:
image_label = pd.DataFrame(file_dict)

In [16]:
image_label.head(7)

,id,path,file_name,absolute_path,label
0,000001,000001_female_Asian_45,incorrect_mask.jpg,/opt/ml/input/data/train/images/000001_female_...,10
1,000001,000001_female_Asian_45,mask4.jpg,/opt/ml/input/data/train/images/000001_female_...,4
2,000001,000001_female_Asian_45,mask2.jpg,/opt/ml/input/data/train/images/000001_female_...,4
3,000001,000001_female_Asian_45,mask1.jpg,/opt/ml/input/data/train/images/000001_female_...,4
4,000001,000001_female_Asian_45,mask3.jpg,/opt/ml/input/data/train/images/000001_female_...,4
5,000001,000001_female_Asian_45,normal.jpg,/opt/ml/input/data/train/images/000001_female_...,16
6,000001,000001_female_Asian_45,mask5.jpg,/opt/ml/input/data/train/images/000001_female_...,4

In [17]:
image_label.tail(7)

,id,path,file_name,absolute_path,label
18893,006959,006959_male_Asian_19,incorrect_mask.jpg,/opt/ml/input/data/train/images/006959_male_As...,6
18894,006959,006959_male_Asian_19,mask4.jpg,/opt/ml/input/data/train/images/006959_male_As...,0
18895,006959,006959_male_Asian_19,mask2.jpg,/opt/ml/input/data/train/images/006959_male_As...,0
18896,006959,006959_male_Asian_19,mask1.jpg,/opt/ml/input/data/train/images/006959_male_As...,0
18897,006959,006959_male_Asian_19,mask3.jpg,/opt/ml/input/data/train/images/006959_male_As...,0
18898,006959,006959_male_Asian_19,normal.jpg,/opt/ml/input/data/train/images/006959_male_As...,12
18899,006959,006959_male_Asian_19,mask5.jpg,/opt/ml/input/data/train/images/006959_male_As...,0

In [18]:
np.unique(image_label['label'])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17])

In [19]:
image_label.to_csv('image_label.csv',index=False)